<meta http-equiv="refresh" content="4; URL={{ path('app_default_index') }}">
<body background="/bundles/app/image/brick.png"></body>

{% if task %}
    <h1 style="color: #6b9311">Rezerwacja przebiegła pomyślnie! W krótce skontaktujem się z Tobą ws. ustalonego terminu.</h1>
{% else %}
    <h1 style="color: #AA3333">Ta godzina jest już zajęta. Spróbuj jeszcze raz zarezerwować termin.</h1>
{% endif %}

<h2>Za chwile nastąpi przekierowanie do strony głównej</h2>
