{% extends 'base.html.twig' %}
{% block body %}
    <table class="task-table">
        <tr>
            <th>Nazwa użytkownika</th>
            <th>Typ usługi</th>
            <th>Rozpoczęcie usługi</th>
            <th>Zakończenie usługi</th>
        </tr>

    {% for task in tasks %}
        {% if task.isAccepted == 1 %}
        <tr>
            <td>{{ task.user }}</td>
            <td>{{ task.type }}</td>
            <td>{{ task.start }}</td>
            <td>{{ task.end }}</td>
        </tr>
            {% endif %}
    {% endfor %}

    </table>
{% endblock body %}