<meta http-equiv="refresh" content="3; URL={{ path('app_admin_getnotacceptedtasks') }}">
<body background="/bundles/app/image/brick.png"></body>

<h1 style="color: #6b9311">Zadanie zostało zaakceptowane</h1>
