
<table class="container">
    <thead>
        <tr>
            <th><h1>Pon.</h1></th>
            <th><h1>Wt.</h1></th>
            <th><h1>Śr.</h1></th>
            <th><h1>Czw.</h1></th>
            <th><h1>Pt.</h1></th>
            <th><h1>Sob.</h1></th>
            <th><h1>Nd.</h1></th>
        </tr>
    </thead>
    {# Generate first row of the calendar #}
    <tbody>
        <tr>
            {% set day = 1 %}
            {% for i in 1..7 %}
                {% if i >= dayOfWeek %}
                    <td><a href="{{ path('app_calendar_showday'
                        , {'day': day, 'month': month, 'year': year}
                        ) }}"> {{ day }} </a></td>
                    {% set day = day + 1 %}
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
    </tbody>
    {# Generate rest rows of the calendar #}
    {% set row = 1 %}
    {% for row in 1..numberOfWeeks %}
    <tbody>
        <tr>
            {% for j in 1..7 %}
                {% if day <= numberOfDays %}
                    <td><a href="{{ path('app_calendar_showday'
                        , {'day': day, 'month': month, 'year': year}
                        ) }}"> {{ day }} </a></td>
                    {% set day = day + 1 %}
                {% else %}
                <td></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
